body {
  background-image: url('../images/logo.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Добавлено для обеспечения минимальной высоты body */
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(144, 0, 0);
  text-decoration: none;
}

.click-counter {
  text-align: center;
  font-size: 48px;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#click-button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#click-button:hover {
  background-color: #45a049;
}
